.body {
  color: white;
  background: black;
  font-family: RalewayRegular;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.genreContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует блоки категорий по горизонтали */
  padding: 1rem;
  float: right;
}

.genreBlock {
  width: 100%;
  max-width: 2000px; /* Ограничивает ширину каждого блока */
  text-align: center; /* Центрирует заголовок категории */
  margin-bottom: 23px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.19);
}

.genreTitle {
  font-size: 35px;
}

.genreVideos {
  display: flex;
  justify-content: center; /* Центрирует видео внутри жанрового блока */
  
  gap: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  overflow-x: auto;
  padding: 0 50px;
}

.genreVideos::-webkit-scrollbar {
  height: 8px;
}

.genreVideos::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.genreVideos::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.animeImage {
  width: 100%;
  height: 170px;
  width: 120px;
}

.genreDescription {
  font-size: 19px;
  color: #777;
  font-family: var(--font-caveat);
}

.title_genre{
  text-align: left;
  margin-left: 50px;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 120px;
  height: 170px;
  background: #232323;
  overflow: hidden;
}

.container .card:hover:before {
  clip-path: circle(30px at 80% -20%);
}

.container .card .imgBx {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.2s;
}

.container .card .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.2s ease; /* Плавный переход для размытия */
}

.container .card:hover .imgBx img {
  /*filter: blur(8px); /* Размытие при наведении */
  filter: brightness(20%)
}

.container .card .contentBx {
  position: absolute;
  bottom: 75px;
  width: 100%;
  height: 1px;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 80px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 80;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3 {
  color: #fff;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.container .card .contentBx .size span {
  width: 55px;
  height: 12px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  display: inline-block;
  color: #111;
  margin: 0 5px;
  transition: 0.2s;
  color: white;
  border-radius: 4px;
}

.container .card .contentBx .color span {
  width: 17px;
  height: 17px;
  background: #ff0;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.container .card .contentBx .color span:nth-child(2) {
  background: #ffffff;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 10;
  color: #ffffff;
  transform: translateY(20px);
  transition: 0.2s;
  /*font-family: "test";*/
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.video_menu{
  margin-top: 50px;
}